@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;500;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;

}
h1 {
   font-family: 'Roboto Slab', serif;
   font-size: 48px;
}
.container-with-background {
    background-image: url("./assets/RMNP-background.jpg");
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50% 0;
    margin: -10px;
}

.container-with-background  > .logo {
    width: 100%;
    height: 100%;
}

.homepage-search {
   padding: 48px 0px;
    display: flex;
}

.homepage-search #search_term {
    align-self: center;
    height: 26px;
    width: 50em;
    border-radius: 10px 0px 0px 10px;
    text-align: left;
    padding: 10px;
    margin: 10px 0px;
    border-right: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.homepage-search #homepage-search-submit {
    border-radius: 0px 10px 10px 0px;
    height: 50px;
    width: 50px;
    /* padding: 10px; */
    margin: 10px 0px;
    background-color: #ECC51B;
    border-left: none;
    background-image: url("assets/icons/magnifying-glass-03.png");
    background-repeat: no-repeat;
    background-position: center;
}

/* header navigation */
.nav-header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   position: relative;
   height: 30px;
   width: 100%;
   background-color: #fff;
   z-index: 110;
   padding-top:30px
}

.nav-header .left {
   margin-left: 30px;
   display: flex;
   flex-direction: row;
   align-items: center;
   align-items: stretch;
}
.header-search-bar {
   margin: 15px 0 0 30px;
   display: flex;
   flex-direction: row;
}

#header-search {
   height: 42px;
   width: 20em;
   border-radius: 5px 0px 0px 5px;
   border-width: thin;
   border-right: none;
   border-color: rgba(0, 0, 0, 0.2);
   text-align: left;
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
}

#header-search-submit {
   border-radius: 0px 5px 5px 0px;  
   border-width: thin;
   border-left: none;
   border-color: rgba(0, 0, 0, 0.2);
   height: 46px;
   width: 42px;
   background-color: #ECC51B;
   border-left: none;
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
   background-image: url("assets/icons/magnifying-glass-03.png");
   background-repeat: no-repeat;
   background-position: center;
}

.nav-header .right {
   margin-right: 30px;

}

.nav-header .header-logo {
   height: 62px;
}

/* Modal styling */

.modal {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(0);
   transition: 200ms ease-in-out;
   border: 5px solid black;
   border-radius: 10px;
   z-index: 10;
   background: transparent;
   background-color: #fff;
   width: 400px;
   height: 500px;
   max-width: 80%;
   background: #3E97CF;
}

.modal.active {
   transform: translate(-50%, -50%) scale(1);
}

.openModal {
   /* margin-bottom: 500px; */
   /* padding-bottom: 100px; */
}

.model-header {
   padding: 10px 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.close-button {
   cursor: pointer;
   border: none;
   outline: none;
   background: none;
   font-size: 1.5rem;
   font-weight: bold;
}

.modal-body {
   padding: 10px 15px;
}

#overlay {
   position: fixed;
   opacity: 0;
   transition: 200ms ease-in-out;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;background-color: rgba(0, 0, 0, 0.5);
   pointer-events: none;
}

#overlay.active {
   opacity: 1;
   pointer-events: all;
}

.main-box {
    /* height: 100%; */
   /* width: 500px;  */
   top: 50%;
   left: 50%;
}

.form-box {
   width: 400px;
   height: 400px;
   position: relative;
   margin: auto auto;
   overflow: hidden;
   /* background color */
   /* padding */
}

.button-box {
   width: 223px;
   margin: 30px 30px 40px 80px;
   position: relative;
   box-shadow: 0px 0px 3px 5px #EBC518;
   border-radius: 90px;
}

.toggle-btn {
   padding: 5px 10px;
   margin-left: 30px;
   cursor: pointer;
   background: transparent;
   border: 0;
   outline: none;
   position: relative;
   font-size: 15px;
}

#btn {
   top: 0;
   left: 0;
   position: absolute;
   width: 123px;
   height: 100%;
   background: linear-gradient(to left,#60BDDD, #EBC518 );
   border-radius: 90px;
   transition: 0.5s;
}

.input-group {
   top: 110px;
   padding-left: 50px;
   position: absolute;
   width: 280px;
   transition: 0.5s;
}

.input {
   width: 80%;
   padding: 10px 0;
   padding-top: 20px;
   margin: 5px 40px;
   display: block;
   border-left: 0;
   border-top: 0;
   border-right: 0;
   border-bottom: 3px solid #000;
   outline: none;
   background: transparent;
}

.input[type="text"] {
   background: transparent;
}

select {
   background: transparent;
}

.submit-btn {
   width: 80%;
   padding: 10px 30px;
   display: block;
   margin: auto;
   border: 0;
   border-radius: 30px;
   background: linear-gradient(to left, #EBC518,#60BDDD );
   font-size: 18px;
   cursor: pointer;
}

.check-box {
   margin: 30px 0px 30px 40px;
}

#register .submit-btn {
   margin-top: 9px;
}

span {
   color: #000000;
   font-size: 15px;
   margin-left: 10px;
   padding-top:27px;
   position: absolute;
}

#login {
   left: 0;
}

#register {
   left: 450px;
}


/**************************** Campsite show page styling **************************************/
.campsite-search-result > div {
   background-repeat: no-repeat;
   background-position: 25% 25%;
   opacity: 0.75;
   width: 100%;
   /* padding:150px 100px; */
   margin: 50px 0px;
   display: flex;
   justify-content: space-around;
   align-items: flex-end;
}

.campsite-info-card {
   background-color: white;
   color: black;
   width: 40%;
   margin: 150px 100px;
   padding: 20px;
   box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.campsite-recommender {
   color: white;
}





